    <div id="intro">
      <div id="intro-image"> <img src="<%= image_path 'photo.jpg' %>" alt="" /> </div>
      <div id="intro-text">
        <p>Lorem ipsum dolor sit amet consectetuer Mauris Pellentesque feugiat sapien pellentesque. Augue et natoque tempus Curabitur scelerisque nibh odio Integer Suspendisse tellus.</p>
        <p>Vitae pellentesque consectetuer id semper libero ipsum ullamcorper Pellentesque interdum turpis. Lorem ipsum dolor sit amet consectetuer Mauris Pellentesque feugiat sapien.</p>
      </div>
    </div>