  <div id="footer">
    <div id="footertextleft"> <a href="http://all-free-download.com/free-website-templates/">Home</a> | <a href="http://all-free-download.com/free-website-templates/">About Us</a> | <a href="http://all-free-download.com/free-website-templates/">Products</a> | <a href="http://all-free-download.com/free-website-templates/">Services</a> | <a href="http://all-free-download.com/free-website-templates/">Price Guide</a> | <a href="http://all-free-download.com/free-website-templates/">Locations</a> | <a href="http://all-free-download.com/free-website-templates/">Contact Us</a> </div>
    <div id="footertextright">
      <p>Copyright &copy; 2008 Your Company Name<br />
        Designed by <a href="http://www.richlyn.co.uk">Richlyn Systems Ltd</a></p>
    </div>
  </div>