        <div id="mainright">
          <div class="heading">
            <p class="subheading-white">Latest News</p>
          </div>
          <div class="p-indent">
            <p><b>Lorem ipsum dolor sit amet</b><br />
              Aliquam feugiat lorem augue dolor fringilla. Eros consectetuer vitae In pede justo....</p>
            <p><b>Lorem ipsum dolor sit amet</b><br />
              Aliquam feugiat lorem augue dolor fringilla. Eros consectetuer vitae In pede justo....</p>
          </div>
        </div>