  <div id="navcontainer">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/aboutus/about">About Us</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Products</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Services</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Price Guide</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Locations</a></li>
      <li><a href="/contacts/new">Contact Us</a></li>
    </ul>
  </div>